* {
    font-family: 'Poppins', sans-serif;
}
header {
    position: fixed;
    top: 0; 
    width: 100%;
    background-color: lightblue;
    text-align: center;
}
footer {
    text-align: center;
}
.button {
    display: inline;
}
li {
    list-style-type: none;
    font-size: 20px;
}
.container {
    margin-top: 200px;
}
